<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    #miBarra {
        margin: 0px;
        padding: 0;
        list-style: none;
        text-transform: uppercase;
    }
    #miBarra li {
        display: inline;
        margin: 0 30px;
    }
</style>
</head>
    <body>
        <ul id="miBarra">
            <li><a href="/">inicio</a></li>
            <li><a href="manga">noticias manga</a></li>
            <li><a href="anime">noticias anime</a></li>
            <li>Soporte</li>
        </ul>
    </body>
</html>
